@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-main: 'Poppins', sans-serif;
$font-second: 'Inter';
$background: #eaeaea;
$text-color: #252a34;
$blue: #08d9d6;
$red: #e50000;